footer {
    background-color: $darker-grey;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    h4 {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.24px;
        margin: 0;
    }
}
/***
@media (min-width: 680px) and (max-width: 1440px) {
    footer {
        flex-direction: row-reverse;
        
    }
}
***/
.footer__index {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    ul {
        padding-left: 20px;
        li {
            padding-bottom: 8px;
        }
    }
}

.icon__footer {
    margin-right: 5px;
}

.index__bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 5px;
}