header {
    .logo {
      @include columnGlobal;
      height: 63px;
      width: 100%;
      position: relative;
  
      img {
        padding: 15px;
        width: 197px;
  
        @media screen and (width >= 1000px) {
          padding: 25px;
          width: 200px;
        }
      }
    }
  }

//try new CSS media query synthax